main{
    font-family: Axiforma;
    display: flex;
}
.info{
    width: 35%;
    padding: 3.75vw 3.65vw;
    background-color: #A5DDEA;
    font-weight: 800;
    font-style: normal;
    font-size: 1.35vw;
    box-sizing: border-box;
    display: block;
}
.logo{
    width: 11.11vw;
    height: 2.78vw;
}
.illustration{
    width: 27.34vw;
    height: 18.23vw;
    margin-top: 7vw;
}
p{
    color: rgba(0, 0, 0, 0.55);
    margin-top: 4.17vw;
}

.signup{
    width: 65%;
}
.login{
    font-size: 0.73vw;
    font-weight: 500;
    color: #707070;
    margin: 1.15vw 1.04vw 8vw 1.04vw;
    text-align: end;
}
a{
    color: #5EA8FF;
    text-decoration: none;
}
.file{
    margin-top: 0.6vw;
    margin-bottom: 0.6vw;
}

form{
    width: 34.72vw;
    margin: auto;
    display: grid;
    gap: 1.2vw;
}
.full-name{
    width: 21.67vw;
    display: flex;
    gap: 0.83vw;
}
.name{
    width: 10.4vw;
}
label{
    font-size: 0.94vw;
    font-weight: 600;
}
input{
    padding: unset;
    width: 34.72vw;
    height: 2.08vw;
    background-color: #EFEFEF;
    border: none;
    border-radius: 10px;
}
button{
    font-family: Axiforma;
    color: white;
    background-color: #5EA8FF;
    font-size: 0.94vw;
    font-weight: bold;
    width: 25vw;
    height: 2.40vw;
    border: none;
    margin: auto;
    border-radius: 10px;
}
.photo{
    margin: 0;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: #EFEFEF;
    border: 1px #707070 dashed;
}
.pass{
    font-size: 0.73vw;
    font-weight: 500;
    margin: 0.5vw;
    color: #707070;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enter{
    display: grid;
    gap: 0.5vw;
}
h2{
    font-size: 1.56vw;
    margin: 0;
}
img{
    margin: 0 0.2vw;
    width: 0.42vw;
    height: 0.42vw;
}
.load{
    width: 1.3vw;
    height: 1.3vw;
}