body{
    background-color: #EEF2F6;
    font-family: Axiforma;
    position: relative;
}
main{

    background-color: white;
    width: 61.94vw;
    margin: auto;
    margin-top: 2vw;
    padding: 1vw 3vw;
    border: #E0E0E0 1px solid;
    border-radius: 10px;
}
.back{
    left: 3vw;
    color: #455A64;
    font-size: 1.18vw;
    font-weight: 600;
    position: absolute;
}
.back:hover{
    font-weight: 600;
}
h2{
    margin: 0 0 1vw 0;
    font-size: 1.39vw;
    font-weight: 600;
}
h3{
    font-size: 1.25vw;
    margin: 0;
}
form{
    display: grid;
    gap: 1vw;
}
.reset{
    border-radius: 50%;
    border: none;
    background-color: #FF4C4E;
    width: 2vw;
    height: 2vw;
    text-align: center;
}
input{
    font-family: Axiforma;
    padding: unset;
    padding-left: 0.5vw;
    border: none;
    background-color: #EFEFEF;
    border-radius: 10px;
    width: 61vw;
    height: 2.78vw;
}
select::-webkit-scrollbar {
    width: 0;
}

select{
    font-family: Axiforma;
    border: none;
    appearance: none;
    -webkit-appearance: none; /* Safari и Chrome */
    background-color: #EFEFEF;
    border-radius: 10px;
    width: 59vw;
    height: 10vw;
}
.post-content{
    font-family: Axiforma;
    border: none;
    background-color: #EFEFEF;
    border-radius: 10px;
    width: 61vw;
    height: 10vw;
    padding: unset;
    padding-left: 0.5vw;
    padding-top: 0.3vw;
}
.post-photos{
    margin-top: 1vw;
    display: flex;
    align-items: center;
    gap: 1vw;
}
.photo{
    position: relative;
    margin: 0;
    width: 5.56vw;
    height: 5.56vw;
    border-radius: 6px;
    background-color: #EFEFEF;
    border: 1px #707070 dashed;
}
.path{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 5.56vw;
    height: 5.56vw;
    border-radius: 6px;
}
.load{
    width: 1.04vw;
    height: 1.04vw;
}

optgroup{
    text-align: center;
}
option{
    background-color: #41789F;
    color: white;
    display: flex;
    height: 2.3vw;
    align-items: center;
    border: 1px white solid;
    border-radius: 10px;
    margin: 1vw 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 50px #EFEFEF inset !important;
    -webkit-text-fill-color: #707070 !important;
    color: #707070 !important;
}
.border{
    background-color: #EFEFEF;
    padding: 1vw;
    border-radius: 10px;
    width: 59vw;
    height: 10vw;
}

.publish{
    font-family: Axiforma;
    background-color: #5EA8FF;
    color: white;
    font-size: 1.25vw;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    width: 13.19vw;
    height: 3.19vw;
    margin-left: auto;
    margin-top: 0.5vw;
    margin-bottom: 1.5vw;
}