
.logo{
    width: 11.11vw;
    height: 2.78vw;
}
.exit{
    width: 0.83vw;
    height: 1.04vw;
}
.settings{
    width: 0.97vw;
    height: 0.97vw;
}
.avatar{
    width: 3.47vw;
    height: 3.47vw;
    border-radius: 50%;
}
.inverted-triangle{
    width: 1.04vw;
    height: 0.83vw;
}
.dropdown-content-link{
    color: #263238;
    font-size: 0.97vw;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin: 0 1.39vw;
}
.dropdown{
    position: relative;
}
.dropdown-content-link:hover{
    font-weight: 500;
}
.dropdown:hover .dropdown-content{
    display: grid;
}
#avatar{
    border-radius: 50%;
    border: white solid 1px;
}
.dropdown-content{
    position: absolute;
    display: none;
    padding: 1vw 0;
    gap: 1vw;
    background-color: white;
    border-radius: 10px;
    width: 12.50vw;
    color: #263238;
    border: #E0E0E0 1px solid;
}
a{
    font-family: Axiforma;
    font-weight: 600;
    font-style: normal;
    font-size: 1.25vw;
    text-decoration: none;
    color: white;
    white-space: nowrap;
}
a:hover{
    font-weight: normal;
}

nav{
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
header{
    background-color: #41789F;
    padding: 3.61vw 7vw;
    justify-content: space-between;
    align-items: center;
}

.account{
    display: flex;
    gap: 0.5vw;
    background: transparent;
    border: none;
    color: white;
    align-items: center;
    text-align: center;
}

.signin{
    border: white 2px solid;
}
.signup{
    border: none;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content{
    display: flex;
    justify-content: space-between;
    padding-right: 10vw;
    align-items: center;
    font-family: Axiforma;
    color: white;
}
.content-img{
    width: 23.54vw;
    height: 15.69vw;
}
.text{
    display: grid;
    gap: 2vw;
}

h1{
    font-weight: 800;
    font-size: 2.08vw;
    margin: 0;

}
p{
    font-weight: 400;
    font-size: 1.11vw;
    margin: 0;
}
.sightseeing{
    display: none;
}
.other{
    display: none;
}