body{
    background: url("../../img/illustration/homepage-2.svg") no-repeat;
    background-size: 100%;
    font-family: Axiforma;
}

main{
    color: white;
    margin: 9vw 7vw;

}
p{
    font-size: 3vw;
    font-weight: 500;
    margin: 0;
}
span{
    font-size: 3.8vw;
    font-weight: 700;
    font-family: Axiforma;
}